body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: Roboto;
  color: #ffffff;
}

.root {
  padding: 32px;

}

.header-container {
  border: 1px solid rgb(47, 51, 54);
  padding: 16px;
  padding-top: 12px;
}
.page-title{
  color: #ffffff;
  font-size: 20px;
}

.user-handle{
  color: #666F75;
  font-size: 13px;
}

.favorite-post {
  border: 1px solid rgb(47, 51, 54);
  padding: 16px;
  padding-left: 12px;
  display: flex;
  width: -webkit-fill-available;
}

.avatar-image {
  border-radius: 50%;
  height: 48px;
  width: 48px;
  margin-right: 12px;
}

.post-content .first-line {
  display: flex;
  align-items: center;
  color: #666F75;
}

.first-line .user-name {
  margin-right: 8px;
  color: #ffffff;
  font-weight: 700;
}

.first-line .user-handle {
  margin-right: 8px;
}

.first-line .tuit-timestamp {
  margin-left: 8px;
}

.post-content .tuit-message {
  font-size: 15px;
  max-width: 506px;
}

.tuit-link-preview {
  margin-top: 12px;
  border-radius: 12px;
  border: 1px solid rgb(47, 51, 54);
}


.tuit-link-preview-image {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  max-width: 506px;
  width: 100%;
}

.tuit-link-preview-description {
  padding: 12px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tuit-link-preview-title {
  font-size: 15px;
  font-weight: 700;
}

.tuit-link-preview-meta {
  font-size: 15px;
  color: #666F75;
}

.icon {

  margin-right: 6px;
}

.icon-red {
  color: red;
}

.interact-icons{ 
  margin-top: 16px;
  color: #666F75;
  display: flex;
  justify-content: space-between;
  align-items: center;

}